<ion-view view-title="Login">
    <ion-content class="padding">

        <!-- Login Form -->
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Email" ng-model="logindata.email">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="logindata.password">
            </label>
            <button class="button button-block" ng-click="login(logindata)">
                Login
            </button>
            Not a member? <a href="#" onclick="window.open('http://client.minder.noval-technologies.uk/register', '_system', 'location=yes')">Register</a>
        </div>

    </ion-content>
</ion-view>
